*{
	margin: 0;
	padding: 0;
	list-style: none;
}
html,body, .wrapper{
	width: 100%;
	height: 100%;
}
.wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #000;
}
.wrapper .content{
	width: 80%;
	height: 80%;
	/*border: 1px solid #fff;*/
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.wrapper .item{
	background-color:#333;
	height: 100%;
	width: 16%;
	border-radius: 20px;
	overflow: hidden;
	/*transition: height 0.5s linear, width 0.5s linear 0.5s;*/
}
.wrapper .item .inner{
	position: relative;
	width: 100%;
	height: 100%;
	transition: transform 0.5s linear;
}
.init .item .inner{
	transform: translate3d(0,100%,0);
}
.item:nth-of-type(1) .inner{
	transition-delay: 0.1s;
}
.item:nth-of-type(2) .inner{
	transition-delay: 0.2s;
}
.item:nth-of-type(3) .inner{
	transition-delay: 0.3s;
}
.item:nth-of-type(4) .inner{
	transition-delay: 0.4s;
}
.item:nth-of-type(5) .inner{
	transition-delay: 0.5s;
}
.item:nth-of-type(6) .inner{
	transition-delay: 0.6s;
}
.wrapper .inner .bg{
	width: 100%;
	height: 100%;
	border-radius: 20px;
	/*background: url('../images/1.jpg') no-repeat;*/
	background-size: cover;
	background-position: center;
	opacity: 0.5;
}
.item:nth-of-type(1) .inner .bg{
	background-image: url('../images/1.jpg');
}
.item:nth-of-type(2) .inner .bg{
	background-image: url('../images/2.jpg');
}
.item:nth-of-type(3) .inner .bg{
	background-image: url('../images/3.jpg');
}
.item:nth-of-type(4) .inner .bg{
	background-image: url('../images/4.jpg');
}
.item:nth-of-type(5) .inner .bg{
	background-image: url('../images/5.jpg');
}
.item:nth-of-type(6) .inner .bg{
	background-image: url('../images/6.jpg');
}
.item:hover .bg{
	opacity: 1;
}
.item:hover .inner .title{
	font-size: 24px;
}
.item .inner .title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%,-50%,0);
	color: #fff;
	font-size: 20px;
	font-weight: bolder;
}
/*点击展示*/
.item.active{
	width: 100%;
	height: 100%;
}
.activeWrap .item:not( .active){
	width: 0%;
	height: 0%；
}
.activeWrap .item{
	transition: height 0.5s linear, width 0.5s linear 0.5s;
}